<languages directory="C:\Windows\System32\Intel\HwKws\m" constraints="C:\Windows\System32\Intel\HwKws\cortana_constraints.conf">
    <language id="1031" name="German - Germany" qualityThreshold="50">
        <keyphraseModel>de-DE\cortana_de-DE.phm</keyphraseModel>
        <acousticModel>de-DE\cortana_de-DE.amp</acousticModel>
        <znormPopulation>de-DE\cortana_de-DE.nrm</znormPopulation>
        <fwBlob>de-DE\cortana_de-DE.dsp</fwBlob>
        <universalBackgroundModel>ubm_cortana.bin</universalBackgroundModel>
        <preDefinedKpdSensitivity>de-DE\cortana_de-DE.th</preDefinedKpdSensitivity>
        <userDefinedKpdSensitivity>de-DE\cortana_de-DE.uth</userDefinedKpdSensitivity>
    </language>
    <language id="1033" name="English - United States" qualityThreshold="50">
        <keyphraseModel>en-US\cortana_en-US.phm</keyphraseModel>
        <acousticModel>en-US\cortana_en-US.amp</acousticModel>
        <znormPopulation>en-US\cortana_en-US.nrm</znormPopulation>
        <fwBlob>en-US\cortana_en-US.dsp</fwBlob>
        <universalBackgroundModel>ubm_cortana.bin</universalBackgroundModel>
        <preDefinedKpdSensitivity>en-US\cortana_en-US.th</preDefinedKpdSensitivity>
        <userDefinedKpdSensitivity>en-US\cortana_en-US.uth</userDefinedKpdSensitivity>
    </language>
    <language id="4105" name="English - Canada" qualityThreshold="50">
        <keyphraseModel>en-CA\cortana_en-CA.phm</keyphraseModel>
        <acousticModel>en-CA\cortana_en-CA.amp</acousticModel>
        <znormPopulation>en-CA\cortana_en-CA.nrm</znormPopulation>
        <fwBlob>en-CA\cortana_en-CA.dsp</fwBlob>
        <universalBackgroundModel>ubm_cortana.bin</universalBackgroundModel>
        <preDefinedKpdSensitivity>en-CA\cortana_en-CA.th</preDefinedKpdSensitivity>
        <userDefinedKpdSensitivity>en-CA\cortana_en-CA.uth</userDefinedKpdSensitivity>
    </language>
    <language id="16393" name="English - India" qualityThreshold="50">
        <keyphraseModel>en-IN\cortana_en-IN.phm</keyphraseModel>
        <acousticModel>en-IN\cortana_en-IN.amp</acousticModel>
        <znormPopulation>en-IN\cortana_en-IN.nrm</znormPopulation>
        <fwBlob>en-IN\cortana_en-IN.dsp</fwBlob>
        <universalBackgroundModel>ubm_cortana.bin</universalBackgroundModel>
        <preDefinedKpdSensitivity>en-IN\cortana_en-IN.th</preDefinedKpdSensitivity>
        <userDefinedKpdSensitivity>en-IN\cortana_en-IN.uth</userDefinedKpdSensitivity>
    </language>
    <language id="3081" name="English - Australia" qualityThreshold="50">
        <keyphraseModel>en-AU\cortana_en-AU.phm</keyphraseModel>
        <acousticModel>en-AU\cortana_en-AU.amp</acousticModel>
        <znormPopulation>en-AU\cortana_en-AU.nrm</znormPopulation>
        <fwBlob>en-AU\cortana_en-AU.dsp</fwBlob>
        <universalBackgroundModel>ubm_cortana.bin</universalBackgroundModel>
        <preDefinedKpdSensitivity>en-AU\cortana_en-AU.th</preDefinedKpdSensitivity>
        <userDefinedKpdSensitivity>en-AU\cortana_en-AU.uth</userDefinedKpdSensitivity>
    </language>
    <language id="2057" name="English - United Kingdom" qualityThreshold="50">
        <keyphraseModel>en-UK\cortana_en-UK.phm</keyphraseModel>
        <acousticModel>en-UK\cortana_en-UK.amp</acousticModel>
        <znormPopulation>en-UK\cortana_en-UK.nrm</znormPopulation>
        <fwBlob>en-UK\cortana_en-UK.dsp</fwBlob>
        <universalBackgroundModel>ubm_cortana.bin</universalBackgroundModel>
        <preDefinedKpdSensitivity>en-UK\cortana_en-UK.th</preDefinedKpdSensitivity>
        <userDefinedKpdSensitivity>en-UK\cortana_en-UK.uth</userDefinedKpdSensitivity>
    </language>
    <language id="1041" name="Japanese - Japan" qualityThreshold="50">
        <keyphraseModel>ja-JP\cortana_ja-JP.phm</keyphraseModel>
        <acousticModel>ja-JP\cortana_ja-JP.amp</acousticModel>
        <znormPopulation>ja-JP\cortana_ja-JP.nrm</znormPopulation>
        <fwBlob>ja-JP\cortana_ja-JP.dsp</fwBlob>
        <universalBackgroundModel>ubm_cortana.bin</universalBackgroundModel>
        <preDefinedKpdSensitivity>ja-JP\cortana_ja-JP.th</preDefinedKpdSensitivity>
        <userDefinedKpdSensitivity>ja-JP\cortana_ja-JP.uth</userDefinedKpdSensitivity>
    </language>
    <language id="1036" name="French - France" qualityThreshold="50">
        <keyphraseModel>fr-FR\cortana_fr-FR.phr</keyphraseModel>
        <acousticModel>fr-FR\cortana_fr-FR.amp</acousticModel>
        <znormPopulation>fr-FR\cortana_fr-FR.nrm</znormPopulation>
        <fwBlob>fr-FR\cortana_fr-FR.dsp</fwBlob>
        <universalBackgroundModel>ubm_cortana.bin</universalBackgroundModel>
        <preDefinedKpdSensitivity>fr-FR\cortana_fr-FR.th</preDefinedKpdSensitivity>
        <userDefinedKpdSensitivity>fr-FR\cortana_fr-FR.uth</userDefinedKpdSensitivity>
    </language>
    <language id="1040" name="Italian - Italy" qualityThreshold="50">
        <keyphraseModel>it-IT\cortana_it-IT.phm</keyphraseModel>
        <acousticModel>it-IT\cortana_it-IT.amp</acousticModel>
        <znormPopulation>it-IT\cortana_it-IT.nrm</znormPopulation>
        <fwBlob>it-IT\cortana_it-IT.dsp</fwBlob>
        <universalBackgroundModel>ubm_cortana.bin</universalBackgroundModel>
        <preDefinedKpdSensitivity>it-IT\cortana_it-IT.th</preDefinedKpdSensitivity>
        <userDefinedKpdSensitivity>it-IT\cortana_it-IT.uth</userDefinedKpdSensitivity>
    </language>
    <language id="2052" name="Chinese - People's Republic of China" qualityThreshold="50">
        <keyphraseModel>zh-CN\cortana_zh-CN.phm</keyphraseModel>
        <acousticModel>zh-CN\cortana_zh-CN.amp</acousticModel>
        <znormPopulation>zh-CN\cortana_zh-CN.nrm</znormPopulation>
        <fwBlob>zh-CN\cortana_zh-CN.dsp</fwBlob>
        <universalBackgroundModel>ubm_cortana.bin</universalBackgroundModel>
        <preDefinedKpdSensitivity>zh-CN\cortana_zh-CN.th</preDefinedKpdSensitivity>
        <userDefinedKpdSensitivity>zh-CN\cortana_zh-CN.uth</userDefinedKpdSensitivity>
    </language>
    <language id="3082" name="Spanish - Spain (Modern Sort)" qualityThreshold="50">
        <keyphraseModel>es-ES\cortana_es-ES.phm</keyphraseModel>
        <acousticModel>es-ES\cortana_es-ES.amp</acousticModel>
        <znormPopulation>es-ES\cortana_es-ES.nrm</znormPopulation>
        <fwBlob>es-ES\cortana_es-ES.dsp</fwBlob>
        <universalBackgroundModel>ubm_cortana.bin</universalBackgroundModel>
        <preDefinedKpdSensitivity>es-ES\cortana_es-ES.th</preDefinedKpdSensitivity>
        <userDefinedKpdSensitivity>es-ES\cortana_es-ES.uth</userDefinedKpdSensitivity>
    </language>
    <language id="3084" name="French - Canada" qualityThreshold="50">
        <keyphraseModel>fr-CA\cortana_fr-CA.phm</keyphraseModel>
        <acousticModel>fr-CA\cortana_fr-CA.amp</acousticModel>
        <znormPopulation>fr-CA\cortana_fr-CA.nrm</znormPopulation>
        <fwBlob>fr-CA\cortana_fr-CA.dsp</fwBlob>
        <universalBackgroundModel>ubm_cortana.bin</universalBackgroundModel>
        <preDefinedKpdSensitivity>fr-CA\cortana_fr-CA.th</preDefinedKpdSensitivity>
        <userDefinedKpdSensitivity>fr-CA\cortana_fr-CA.uth</userDefinedKpdSensitivity>
    </language>
    <language id="2058" name="Spanish - Mexico" qualityThreshold="50">
        <keyphraseModel>es-MX\cortana_es-MX.phm</keyphraseModel>
        <acousticModel>es-MX\cortana_es-MX.amp</acousticModel>
        <znormPopulation>es-MX\cortana_es-MX.nrm</znormPopulation>
        <fwBlob>es-MX\cortana_es-MX.dsp</fwBlob>
        <universalBackgroundModel>ubm_cortana.bin</universalBackgroundModel>
        <preDefinedKpdSensitivity>es-MX\cortana_es-MX.th</preDefinedKpdSensitivity>
        <userDefinedKpdSensitivity>es-MX\cortana_es-MX.uth</userDefinedKpdSensitivity>
    </language>
    <language id="1046" name="Portuguese - Brazil" qualityThreshold="50">
        <keyphraseModel>pt-BR\cortana_pt-BR.phm</keyphraseModel>
        <acousticModel>pt-BR\cortana_pt-BR.amp</acousticModel>
        <znormPopulation>pt-BR\cortana_pt-BR.nrm</znormPopulation>
        <fwBlob>pt-BR\cortana_pt-BR.dsp</fwBlob>
        <universalBackgroundModel>ubm_cortana.bin</universalBackgroundModel>
        <preDefinedKpdSensitivity>pt-BR\cortana_pt-BR.th</preDefinedKpdSensitivity>
        <userDefinedKpdSensitivity>pt-BR\cortana_pt-BR.uth</userDefinedKpdSensitivity>
    </language>
</languages>
