<languages directory="C:\Windows\System32\Intel\HwKws\m" constraints="C:\Windows\System32\Intel\HwKws\cortana_constraints.conf">
    <language id="1031" name="German - Germany" qualityThreshold="50">
        <keyphraseModel>de-DE\cortana_de-DE_hq.phm</keyphraseModel>
        <acousticModel>de-DE\cortana_de-DE_hq.amp</acousticModel>
        <znormPopulation>de-DE\cortana_de-DE_hq.nrm</znormPopulation>
        <fwBlob>de-DE\cortana_de-DE_hq.dsp</fwBlob>
        <universalBackgroundModel>ubm_cortana_hq.bin</universalBackgroundModel>
        <preDefinedKpdSensitivity>de-DE\cortana_de-DE_hq.th</preDefinedKpdSensitivity>
        <userDefinedKpdSensitivity>de-DE\cortana_de-DE_hq.uth</userDefinedKpdSensitivity>
    </language>
    <language id="1033" name="English - United States" qualityThreshold="50">
        <keyphraseModel>en-US\cortana_en-US_hq.phm</keyphraseModel>
        <acousticModel>en-US\cortana_en-US_hq.amp</acousticModel>
        <znormPopulation>en-US\cortana_en-US_hq.nrm</znormPopulation>
        <fwBlob>en-US\cortana_en-US_hq.dsp</fwBlob>
        <universalBackgroundModel>ubm_cortana_hq.bin</universalBackgroundModel>
        <preDefinedKpdSensitivity>en-US\cortana_en-US_hq.th</preDefinedKpdSensitivity>
        <userDefinedKpdSensitivity>en-US\cortana_en-US_hq.uth</userDefinedKpdSensitivity>
    </language>
    <language id="4105" name="English - Canada" qualityThreshold="50">
        <keyphraseModel>en-CA\cortana_en-CA_hq.phm</keyphraseModel>
        <acousticModel>en-CA\cortana_en-CA_hq.amp</acousticModel>
        <znormPopulation>en-CA\cortana_en-CA_hq.nrm</znormPopulation>
        <fwBlob>en-CA\cortana_en-CA_hq.dsp</fwBlob>
        <universalBackgroundModel>ubm_cortana_hq.bin</universalBackgroundModel>
        <preDefinedKpdSensitivity>en-CA\cortana_en-CA_hq.th</preDefinedKpdSensitivity>
        <userDefinedKpdSensitivity>en-CA\cortana_en-CA_hq.uth</userDefinedKpdSensitivity>
    </language>
    <language id="16393" name="English - India" qualityThreshold="50">
        <keyphraseModel>en-IN\cortana_en-IN_hq.phm</keyphraseModel>
        <acousticModel>en-IN\cortana_en-IN_hq.amp</acousticModel>
        <znormPopulation>en-IN\cortana_en-IN_hq.nrm</znormPopulation>
        <fwBlob>en-IN\cortana_en-IN_hq.dsp</fwBlob>
        <universalBackgroundModel>ubm_cortana_hq.bin</universalBackgroundModel>
        <preDefinedKpdSensitivity>en-IN\cortana_en-IN_hq.th</preDefinedKpdSensitivity>
        <userDefinedKpdSensitivity>en-IN\cortana_en-IN_hq.uth</userDefinedKpdSensitivity>
    </language>
    <language id="3081" name="English - Australia" qualityThreshold="50">
        <keyphraseModel>en-AU\cortana_en-AU_hq.phm</keyphraseModel>
        <acousticModel>en-AU\cortana_en-AU_hq.amp</acousticModel>
        <znormPopulation>en-AU\cortana_en-AU_hq.nrm</znormPopulation>
        <fwBlob>en-AU\cortana_en-AU_hq.dsp</fwBlob>
        <universalBackgroundModel>ubm_cortana_hq.bin</universalBackgroundModel>
        <preDefinedKpdSensitivity>en-AU\cortana_en-AU_hq.th</preDefinedKpdSensitivity>
        <userDefinedKpdSensitivity>en-AU\cortana_en-AU_hq.uth</userDefinedKpdSensitivity>
    </language>
    <language id="2057" name="English - United Kingdom" qualityThreshold="50">
        <keyphraseModel>en-GB\cortana_en-GB_hq.phm</keyphraseModel>
        <acousticModel>en-GB\cortana_en-GB_hq.amp</acousticModel>
        <znormPopulation>en-GB\cortana_en-GB_hq.nrm</znormPopulation>
        <fwBlob>en-GB\cortana_en-GB_hq.dsp</fwBlob>
        <universalBackgroundModel>ubm_cortana_hq.bin</universalBackgroundModel>
        <preDefinedKpdSensitivity>en-GB\cortana_en-GB_hq.th</preDefinedKpdSensitivity>
        <userDefinedKpdSensitivity>en-GB\cortana_en-GB_hq.uth</userDefinedKpdSensitivity>
    </language>
    <language id="1041" name="Japanese - Japan" qualityThreshold="50">
        <keyphraseModel>ja-JP\cortana_ja-JP_hq.phm</keyphraseModel>
        <acousticModel>ja-JP\cortana_ja-JP_hq.amp</acousticModel>
        <znormPopulation>ja-JP\cortana_ja-JP_hq.nrm</znormPopulation>
        <fwBlob>ja-JP\cortana_ja-JP_hq.dsp</fwBlob>
        <universalBackgroundModel>ubm_cortana_hq.bin</universalBackgroundModel>
        <preDefinedKpdSensitivity>ja-JP\cortana_ja-JP_hq.th</preDefinedKpdSensitivity>
        <userDefinedKpdSensitivity>ja-JP\cortana_ja-JP_hq.uth</userDefinedKpdSensitivity>
    </language>
    <language id="1036" name="French - France" qualityThreshold="50">
        <keyphraseModel>fr-FR\cortana_fr-FR_hq.phr</keyphraseModel>
        <acousticModel>fr-FR\cortana_fr-FR_hq.amp</acousticModel>
        <znormPopulation>fr-FR\cortana_fr-FR_hq.nrm</znormPopulation>
        <fwBlob>fr-FR\cortana_fr-FR_hq.dsp</fwBlob>
        <universalBackgroundModel>ubm_cortana_hq.bin</universalBackgroundModel>
        <preDefinedKpdSensitivity>fr-FR\cortana_fr-FR_hq.th</preDefinedKpdSensitivity>
        <userDefinedKpdSensitivity>fr-FR\cortana_fr-FR_hq.uth</userDefinedKpdSensitivity>
    </language>
    <language id="1040" name="Italian - Italy" qualityThreshold="50">
        <keyphraseModel>it-IT\cortana_it-IT_hq.phm</keyphraseModel>
        <acousticModel>it-IT\cortana_it-IT_hq.amp</acousticModel>
        <znormPopulation>it-IT\cortana_it-IT_hq.nrm</znormPopulation>
        <fwBlob>it-IT\cortana_it-IT_hq.dsp</fwBlob>
        <universalBackgroundModel>ubm_cortana_hq.bin</universalBackgroundModel>
        <preDefinedKpdSensitivity>it-IT\cortana_it-IT_hq.th</preDefinedKpdSensitivity>
        <userDefinedKpdSensitivity>it-IT\cortana_it-IT_hq.uth</userDefinedKpdSensitivity>
    </language>
    <language id="2052" name="Chinese - People's Republic of China" qualityThreshold="50">
        <keyphraseModel>zh-CN\cortana_zh-CN_hq.phm</keyphraseModel>
        <acousticModel>zh-CN\cortana_zh-CN_hq.amp</acousticModel>
        <znormPopulation>zh-CN\cortana_zh-CN_hq.nrm</znormPopulation>
        <fwBlob>zh-CN\cortana_zh-CN_hq.dsp</fwBlob>
        <universalBackgroundModel>ubm_cortana_hq.bin</universalBackgroundModel>
        <preDefinedKpdSensitivity>zh-CN\cortana_zh-CN_hq.th</preDefinedKpdSensitivity>
        <userDefinedKpdSensitivity>zh-CN\cortana_zh-CN_hq.uth</userDefinedKpdSensitivity>
    </language>
    <language id="3082" name="Spanish - Spain (Modern Sort)" qualityThreshold="50">
        <keyphraseModel>es-ES\cortana_es-ES_hq.phm</keyphraseModel>
        <acousticModel>es-ES\cortana_es-ES_hq.amp</acousticModel>
        <znormPopulation>es-ES\cortana_es-ES_hq.nrm</znormPopulation>
        <fwBlob>es-ES\cortana_es-ES_hq.dsp</fwBlob>
        <universalBackgroundModel>ubm_cortana_hq.bin</universalBackgroundModel>
        <preDefinedKpdSensitivity>es-ES\cortana_es-ES_hq.th</preDefinedKpdSensitivity>
        <userDefinedKpdSensitivity>es-ES\cortana_es-ES_hq.uth</userDefinedKpdSensitivity>
    </language>
    <language id="3084" name="French - Canada" qualityThreshold="50">
        <keyphraseModel>fr-CA\cortana_fr-CA_hq.phm</keyphraseModel>
        <acousticModel>fr-CA\cortana_fr-CA_hq.amp</acousticModel>
        <znormPopulation>fr-CA\cortana_fr-CA_hq.nrm</znormPopulation>
        <fwBlob>fr-CA\cortana_fr-CA_hq.dsp</fwBlob>
        <universalBackgroundModel>ubm_cortana_hq.bin</universalBackgroundModel>
        <preDefinedKpdSensitivity>fr-CA\cortana_fr-CA_hq.th</preDefinedKpdSensitivity>
        <userDefinedKpdSensitivity>fr-CA\cortana_fr-CA_hq.uth</userDefinedKpdSensitivity>
    </language>
    <language id="2058" name="Spanish - Mexico" qualityThreshold="50">
        <keyphraseModel>es-MX\cortana_es-MX_hq.phm</keyphraseModel>
        <acousticModel>es-MX\cortana_es-MX_hq.amp</acousticModel>
        <znormPopulation>es-MX\cortana_es-MX_hq.nrm</znormPopulation>
        <fwBlob>es-MX\cortana_es-MX_hq.dsp</fwBlob>
        <universalBackgroundModel>ubm_cortana_hq.bin</universalBackgroundModel>
        <preDefinedKpdSensitivity>es-MX\cortana_es-MX_hq.th</preDefinedKpdSensitivity>
        <userDefinedKpdSensitivity>es-MX\cortana_es-MX_hq.uth</userDefinedKpdSensitivity>
    </language>
    <language id="1046" name="Portuguese - Brazil" qualityThreshold="50">
        <keyphraseModel>pt-BR\cortana_pt-BR_hq.phm</keyphraseModel>
        <acousticModel>pt-BR\cortana_pt-BR_hq.amp</acousticModel>
        <znormPopulation>pt-BR\cortana_pt-BR_hq.nrm</znormPopulation>
        <fwBlob>pt-BR\cortana_pt-BR_hq.dsp</fwBlob>
        <universalBackgroundModel>ubm_cortana_hq.bin</universalBackgroundModel>
        <preDefinedKpdSensitivity>pt-BR\cortana_pt-BR_hq.th</preDefinedKpdSensitivity>
        <userDefinedKpdSensitivity>pt-BR\cortana_pt-BR_hq.uth</userDefinedKpdSensitivity>
    </language>
</languages>
