<languages directory="C:\Windows\System32\Intel\IntelKeywordDetectorAdapter\models" constraints="C:\Windows\System32\Intel\IntelKeywordDetectorAdapter\cortana_constraints.conf">
    <language id="1031" name="German - Germany" qualityThreshold="50">
        <keyphraseModel>de-DE\phrase_cortana_de-DE.bin</keyphraseModel>
        <acousticModel>de-DE\acoustic_model_cortana_de-DE.bin</acousticModel>
        <znormPopulation>de-DE\norm_blob_cortana_de-DE.bin</znormPopulation>
        <fwBlob>de-DE\lpe_package_cortana_de-DE.bin</fwBlob>
        <universalBackgroundModel>ubm_cortana.bin</universalBackgroundModel>
        <preDefinedKpdSensitivity>de-DE\kpd_cortana_de-DE.threshold</preDefinedKpdSensitivity>
        <userDefinedKpdSensitivity>de-DE\kpd_cortana_de-DE.udt_threshold</userDefinedKpdSensitivity>
        <svSensitivity>ubm_cortana.threshold</svSensitivity>
    </language>
    <language id="1033" name="English - United States" qualityThreshold="50">
        <keyphraseModel>en-US\phrase_cortana_en-US.bin</keyphraseModel>
        <acousticModel>en-US\acoustic_model_cortana_en-US.bin</acousticModel>
        <znormPopulation>en-US\norm_blob_cortana_en-US.bin</znormPopulation>
        <fwBlob>en-US\lpe_package_cortana_en-US.bin</fwBlob>
        <universalBackgroundModel>ubm_cortana.bin</universalBackgroundModel>
        <preDefinedKpdSensitivity>en-US\kpd_cortana_en-US.threshold</preDefinedKpdSensitivity>
        <userDefinedKpdSensitivity>en-US\kpd_cortana_en-US.udt_threshold</userDefinedKpdSensitivity>
        <svSensitivity>ubm_cortana.threshold</svSensitivity>
    </language>
    <language id="4105" name="English - Canada" qualityThreshold="50">
        <keyphraseModel>en-CA\phrase_cortana_en-CA.bin</keyphraseModel>
        <acousticModel>en-CA\acoustic_model_cortana_en-CA.bin</acousticModel>
        <znormPopulation>en-CA\norm_blob_cortana_en-CA.bin</znormPopulation>
        <fwBlob>en-CA\lpe_package_cortana_en-CA.bin</fwBlob>
        <universalBackgroundModel>ubm_cortana.bin</universalBackgroundModel>
        <preDefinedKpdSensitivity>en-CA\kpd_cortana_en-CA.threshold</preDefinedKpdSensitivity>
        <userDefinedKpdSensitivity>en-CA\kpd_cortana_en-CA.udt_threshold</userDefinedKpdSensitivity>
        <svSensitivity>ubm_cortana.threshold</svSensitivity>
    </language>
    <language id="16393" name="English - India" qualityThreshold="50">
        <keyphraseModel>en-IN\phrase_cortana_en-IN.bin</keyphraseModel>
        <acousticModel>en-IN\acoustic_model_cortana_en-IN.bin</acousticModel>
        <znormPopulation>en-IN\norm_blob_cortana_en-IN.bin</znormPopulation>
        <fwBlob>en-IN\lpe_package_cortana_en-IN.bin</fwBlob>
        <universalBackgroundModel>ubm_cortana.bin</universalBackgroundModel>
        <preDefinedKpdSensitivity>en-IN\kpd_cortana_en-IN.threshold</preDefinedKpdSensitivity>
        <userDefinedKpdSensitivity>en-IN\kpd_cortana_en-IN.udt_threshold</userDefinedKpdSensitivity>
        <svSensitivity>ubm_cortana.threshold</svSensitivity>
    </language>
    <language id="3081" name="English - Australia" qualityThreshold="50">
        <keyphraseModel>en-AU\phrase_cortana_en-AU.bin</keyphraseModel>
        <acousticModel>en-AU\acoustic_model_cortana_en-AU.bin</acousticModel>
        <znormPopulation>en-AU\norm_blob_cortana_en-AU.bin</znormPopulation>
        <fwBlob>en-AU\lpe_package_cortana_en-AU.bin</fwBlob>
        <universalBackgroundModel>ubm_cortana.bin</universalBackgroundModel>
        <preDefinedKpdSensitivity>en-AU\kpd_cortana_en-AU.threshold</preDefinedKpdSensitivity>
        <userDefinedKpdSensitivity>en-AU\kpd_cortana_en-AU.udt_threshold</userDefinedKpdSensitivity>
        <svSensitivity>ubm_cortana.threshold</svSensitivity>
    </language>
    <language id="2057" name="English - United Kingdom" qualityThreshold="50">
        <keyphraseModel>en-UK\phrase_cortana_en-UK.bin</keyphraseModel>
        <acousticModel>en-UK\acoustic_model_cortana_en-UK.bin</acousticModel>
        <znormPopulation>en-UK\norm_blob_cortana_en-UK.bin</znormPopulation>
        <fwBlob>en-UK\lpe_package_cortana_en-UK.bin</fwBlob>
        <universalBackgroundModel>ubm_cortana.bin</universalBackgroundModel>
        <preDefinedKpdSensitivity>en-UK\kpd_cortana_en-UK.threshold</preDefinedKpdSensitivity>
        <userDefinedKpdSensitivity>en-UK\kpd_cortana_en-UK.udt_threshold</userDefinedKpdSensitivity>
        <svSensitivity>ubm_cortana.threshold</svSensitivity>
    </language>
    <language id="1041" name="Japanese - Japan" qualityThreshold="50">
        <keyphraseModel>ja-JP\phrase_cortana_ja-JP.bin</keyphraseModel>
        <acousticModel>ja-JP\acoustic_model_cortana_ja-JP.bin</acousticModel>
        <znormPopulation>ja-JP\norm_blob_cortana_ja-JP.bin</znormPopulation>
        <fwBlob>ja-JP\lpe_package_cortana_ja-JP.bin</fwBlob>
        <universalBackgroundModel>ubm_cortana.bin</universalBackgroundModel>
        <preDefinedKpdSensitivity>ja-JP\kpd_cortana_ja-JP.threshold</preDefinedKpdSensitivity>
        <userDefinedKpdSensitivity>ja-JP\kpd_cortana_ja-JP.udt_threshold</userDefinedKpdSensitivity>
        <svSensitivity>ubm_cortana.threshold</svSensitivity>
    </language>
    <language id="1036" name="French - France" qualityThreshold="50">
        <keyphraseModel>fr-FR\phrase_cortana_fr-FR.bin</keyphraseModel>
        <acousticModel>fr-FR\acoustic_model_cortana_fr-FR.bin</acousticModel>
        <znormPopulation>fr-FR\norm_blob_cortana_fr-FR.bin</znormPopulation>
        <fwBlob>fr-FR\lpe_package_cortana_fr-FR.bin</fwBlob>
        <universalBackgroundModel>ubm_cortana.bin</universalBackgroundModel>
        <preDefinedKpdSensitivity>fr-FR\kpd_cortana_fr-FR.threshold</preDefinedKpdSensitivity>
        <userDefinedKpdSensitivity>fr-FR\kpd_cortana_fr-FR.udt_threshold</userDefinedKpdSensitivity>
        <svSensitivity>ubm_cortana.threshold</svSensitivity>
    </language>
	<language id="1040" name="Italian - Italy" qualityThreshold="50">
        <keyphraseModel>it-IT\phrase_cortana_it-IT.bin</keyphraseModel>
        <acousticModel>it-IT\acoustic_model_cortana_it-IT.bin</acousticModel>
        <znormPopulation>it-IT\norm_blob_cortana_it-IT.bin</znormPopulation>
        <fwBlob>it-IT\lpe_package_cortana_it-IT.bin</fwBlob>
        <universalBackgroundModel>ubm_cortana.bin</universalBackgroundModel>
        <preDefinedKpdSensitivity>it-IT\kpd_cortana_it-IT.threshold</preDefinedKpdSensitivity>
        <userDefinedKpdSensitivity>it-IT\kpd_cortana_it-IT.udt_threshold</userDefinedKpdSensitivity>
        <svSensitivity>ubm_cortana.threshold</svSensitivity>
    </language>
    <language id="2052" name="Chinese - People's Republic of China" qualityThreshold="50">
        <keyphraseModel>zh-CN\phrase_cortana_zh-CN.bin</keyphraseModel>
        <acousticModel>zh-CN\acoustic_model_cortana_zh-CN.bin</acousticModel>
        <znormPopulation>zh-CN\norm_blob_cortana_zh-CN.bin</znormPopulation>
        <fwBlob>zh-CN\lpe_package_cortana_zh-CN.bin</fwBlob>
        <universalBackgroundModel>ubm_cortana.bin</universalBackgroundModel>
        <preDefinedKpdSensitivity>zh-CN\kpd_cortana_zh-CN.threshold</preDefinedKpdSensitivity>
        <userDefinedKpdSensitivity>zh-CN\kpd_cortana_zh-CN.udt_threshold</userDefinedKpdSensitivity>
        <svSensitivity>ubm_cortana.threshold</svSensitivity>
    </language>
    <language id="1034" name="Spanish - Spain (Traditional Sort)" qualityThreshold="50">
        <keyphraseModel>es-ES\phrase_cortana_es-ES.bin</keyphraseModel>
        <acousticModel>es-ES\acoustic_model_cortana_es-ES.bin</acousticModel>
        <znormPopulation>es-ES\norm_blob_cortana_es-ES.bin</znormPopulation>
        <fwBlob>es-ES\lpe_package_cortana_es-ES.bin</fwBlob>
        <universalBackgroundModel>ubm_cortana.bin</universalBackgroundModel>
        <preDefinedKpdSensitivity>es-ES\kpd_cortana_es-ES.threshold</preDefinedKpdSensitivity>
        <userDefinedKpdSensitivity>es-ES\kpd_cortana_es-ES.udt_threshold</userDefinedKpdSensitivity>
        <svSensitivity>ubm_cortana.threshold</svSensitivity>
    </language>
    <language id="3082" name="Spanish - Spain (Modern Sort)" qualityThreshold="50">
        <keyphraseModel>es-ES\phrase_cortana_es-ES.bin</keyphraseModel>
        <acousticModel>es-ES\acoustic_model_cortana_es-ES.bin</acousticModel>
        <znormPopulation>es-ES\norm_blob_cortana_es-ES.bin</znormPopulation>
        <fwBlob>es-ES\lpe_package_cortana_es-ES.bin</fwBlob>
        <universalBackgroundModel>ubm_cortana.bin</universalBackgroundModel>
        <preDefinedKpdSensitivity>es-ES\kpd_cortana_es-ES.threshold</preDefinedKpdSensitivity>
        <userDefinedKpdSensitivity>es-ES\kpd_cortana_es-ES.udt_threshold</userDefinedKpdSensitivity>
        <svSensitivity>ubm_cortana.threshold</svSensitivity>
    </language>
    <language id="3084" name="French - Canada" qualityThreshold="50">
        <keyphraseModel>fr-CA\phrase_cortana_fr-CA.bin</keyphraseModel>
        <acousticModel>fr-CA\acoustic_model_cortana_fr-CA.bin</acousticModel>
        <znormPopulation>fr-CA\norm_blob_cortana_fr-CA.bin</znormPopulation>
        <fwBlob>fr-CA\lpe_package_cortana_fr-CA.bin</fwBlob>
        <universalBackgroundModel>ubm_cortana.bin</universalBackgroundModel>
        <preDefinedKpdSensitivity>fr-CA\kpd_cortana_fr-CA.threshold</preDefinedKpdSensitivity>
        <userDefinedKpdSensitivity>fr-CA\kpd_cortana_fr-CA.udt_threshold</userDefinedKpdSensitivity>
        <svSensitivity>ubm_cortana.threshold</svSensitivity>
    </language>
    <language id="2058" name="Spanish - Mexico" qualityThreshold="50">
        <keyphraseModel>es-MX\phrase_cortana_es-MX.bin</keyphraseModel>
        <acousticModel>es-MX\acoustic_model_cortana_es-MX.bin</acousticModel>
        <znormPopulation>es-MX\norm_blob_cortana_es-MX.bin</znormPopulation>
        <fwBlob>es-MX\lpe_package_cortana_es-MX.bin</fwBlob>
        <universalBackgroundModel>ubm_cortana.bin</universalBackgroundModel>
        <preDefinedKpdSensitivity>es-MX\kpd_cortana_es-MX.threshold</preDefinedKpdSensitivity>
        <userDefinedKpdSensitivity>es-MX\kpd_cortana_es-MX.udt_threshold</userDefinedKpdSensitivity>
        <svSensitivity>ubm_cortana.threshold</svSensitivity>
    </language>
    <language id="1046" name="Portuguese - Brazil" qualityThreshold="50">
        <keyphraseModel>pt-BR\phrase_cortana_pt-BR.bin</keyphraseModel>
        <acousticModel>pt-BR\acoustic_model_cortana_pt-BR.bin</acousticModel>
        <znormPopulation>pt-BR\norm_blob_cortana_pt-BR.bin</znormPopulation>
        <fwBlob>pt-BR\lpe_package_cortana_pt-BR.bin</fwBlob>
        <universalBackgroundModel>ubm_cortana.bin</universalBackgroundModel>
        <preDefinedKpdSensitivity>pt-BR\kpd_cortana_pt-BR.threshold</preDefinedKpdSensitivity>
        <userDefinedKpdSensitivity>pt-BR\kpd_cortana_pt-BR.udt_threshold</userDefinedKpdSensitivity>
        <svSensitivity>ubm_cortana.threshold</svSensitivity>
    </language>
</languages>
